<!-- Bienvenida -->
<div class="py-2">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12">
        <h1 class="display-4 mt-5 mb-2">
          Consultas
        </h1>
        <p class="lead mb-5">
          En esta rama del sitio web podrás consultar, descargar documentos y obtener datos abiertos.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-2">
  <img src="theme/images/cabecera-consultas.jpg" alt="Consultas" class="img-fluid" />
  <h2>
    Elija una de las opciones del menú de consultas:
  </h2>
</div>
