{% extends "index.html" %}

{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

{% block header_title %}{{ category }}{% endblock %}

{% block second_navigation %}
    {% if category in (
        'Pleno del Tribunal Superior de Justicia',
        'Sala Civil y Familiar',
        'Sala Penal',
        'Sala Regional',
        'Tribunal Constitucional',
        'Votos Disidentes',
        'Votos Particulares') %}
        {% include 'navegacion-sesiones.html' %}
    {% endif %}
{% endblock %}
