<footer>
    <!-- Mapa del sitio -->
    <div class="footer-dark">
        <div class="container">
            <h2 class="text-center">Mapa del Sitio</h2>
            <div class="accordion" id="accordionFooter">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h3 class="my-0">
                            <button class="btn btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Tribunal Superior de Justicia
                            </button>
                        </h3>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFooter">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <h4>Quiénes Somos</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/conocenos/quienes-somos/bienvenida/">Bienvenida</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/quienes-somos/un-nuevo-modelo-de-justicia/">Un nuevo modelo de Justicia</a></li>
                                        <li><a href="{{ SITEURL }}/magistrados/">Nuestros Magistrados</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <h4>Presidencia</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/presidencia/">Presidencia</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/secretaria-tecnica-y-de-transparencia/">Secretaría Técnica y de Transparencia</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/auditoria-interna/">Auditoría Interna</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/archivo/">Archivo Judicial General</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <h4>Órganos Jurisdiccionales</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/central-de-actuarios/">Central de Actuarios</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/juzgados-por-distrito/">Juzgados por Distrito</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/juzgados-por-materia/">Juzgados por Materia</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/pleno/">Pleno</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/salas/">Salas</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/tribunal-constitucional/">Tribunal Constitucional</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/tribunales-distritales/">Tribunales Distritales</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/tribunales-especializados/">Tribunales Especializados</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <h4>Órganos No Jurisdiccionales</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/centro-de-evaluacion-psicosocial/">Centro de Evaluación Psicosocial</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/cemasc/">Centro de Medios Alternos de Solución de Controversias</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-de-especializacion-judicial/">Instituto de Especialización Judicial</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-estatal-de-defensoria-publica/">Instituto Estatal de Defensoría Pública</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/oficialia-de-partes/">Oficialía de Partes</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/visitaduria-judicial-general/">Visitaduría Judicial General</a></li>
                                    </ul>
                                    <h4>Órganos Administrativos</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/administrativos/oficialia-mayor/">Oficialía Mayor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h3 class="my-0">
                            <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Consejo de la Judicatura
                            </button>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFooter">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-2">
                                    <h4>Consejo</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/conocenos/directorio-general/consejeros/">Consejeros</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/directorio/">Directorio</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <h4>Consulta</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/category/acuerdos-del-consejo1.html">Acuerdos del Consejo</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/articulos/acuerdos/">Acuerdos del Consejo (tabla)</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/atribuciones/">Atribuciones</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/funciones/">Funciones</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/manuales/">Manuales</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/marco-juridico/">Marco Jurídico</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/proceso-de-seleccion-de-jueces-y-magistrados-distritales/">Proceso de Selección
                                                de Jueces</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <h4>Labor Disciplinaria</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/sanciones-a-servidores-publicos/">Sanciones a Servidores Públicos</a></li>
                                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/presentacion-de-quejas/">Presentación de Quejas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h3 class="my-0">
                            <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Consultas, Información, Trámites y Servicios
                            </button>
                        </h3>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFooter">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-2">
                                    <h4 id="footerConsultas">Consultas</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/consultas/abogados-registrados/">Abogados registrados</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/articulos/acuerdos/">Acuerdos (tabla)</a></li>
                                        <li><a href="{{ SITEURL }}/category/acuerdos-del-consejo1.html">Acuerdos del Consejo</a></li>
                                        <li><a href="{{ SITEURL }}/category/acuerdos-del-pleno1.html">Acuerdos del Pleno</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/abogados-registrados/">Abogados Registrados</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/audiencias/">Agenda de Audiencias</a></li>
                                        <li><a href="{{ SITEURL }}/citas/">Citas</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/edictos/">Edictos en Línea</a></li>
                                        <li><a href="{{ SITEURL }}/edictos-de-declaracion-de-ausencia/">Edictos de Declaración de Ausencia</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/fuentes-rss/">Fuentes RSS</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/glosas/">Glosas</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/listas-de-acuerdos/">Listas de Acuerdos</a>
                                        <li><a href="{{ SITEURL }}/consultas/peritos/">Peritos</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/poder-en-linea/">Poder en Línea (Expediente Virtual 2.0, Buzón Electrónico, Citas y Boletas)</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/redam/">REDAM</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/repsvm/">REPSVM</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/tesis-jurisprudencias/">Tesis y Jurisprudencias</a></li>
                                        <li><a href="{{ SITEURL }}/tramites-y-servicios/">Trámites y Servicios</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/ubicacion-expedientes/">Ubicación de Expedientes</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/sentencias/">Versión Pública de Sentencias</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <h4>Sala de Prensa</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/boletines-judiciales/">Boletines Judiciales</a></li>
                                        <li><a href="{{ SITEURL }}/calendario-de-labores/">Calendario de Labores</a></li>
                                        <li><a href="{{ SITEURL }}/category/comunicados1.html">Comunicados</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/articulos/comunicados-noticias/">Comunicados, Noticias y Entrevistas (tabla)</a></li>
                                        <li><a href="{{ SITEURL }}/category/entrevistas1.html">Entrevistas</a></li>
                                        <li><a href="{{ SITEURL }}/category/noticias1.html">Noticias</a></li>
                                        <li><a href="{{ SITEURL }}/podcasts/poder-judicial-al-aire/">Podcast "Poder Judicial al Aire"</a></li>
                                        <li><a href="{{ SITEURL }}/category/news-letters1.html">News Letters</a></li>
                                        <li><a href="{{ SITEURL }}/consultas/articulos/transmisiones-sesiones/">Sesiones (tabla)</a></li>
                                        <li><a href="{{ SITEURL }}/category/pleno-del-tribunal-superior-de-justicia1.html">Sesiones del TSJ</a></li>
                                        <li><a href="{{ SITEURL }}/category/sala-civil-y-familiar1.html">Sesiones de la Sala Civil y Familiar</a></li>
                                        <li><a href="{{ SITEURL }}/category/sala-penal1.html">Sesiones de la Sala Penal</a></li>
                                        <li><a href="{{ SITEURL }}/category/sala-regional1.html">Sesiones de la Sala Regional</a></li>
                                        <li><a href="{{ SITEURL }}/category/tribunal-constitucional1.html">Sesiones del Tribunal Constitucional</a></li>
                                        <li><a href="{{ SITEURL }}/sesiones/votos-disidentes/">Sentencias con Votos Disidentes</a></li>
                                        <li><a href="{{ SITEURL }}/sesiones/votos-particulares/">Sentencias con Votos Particulares</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <h4>Legalidad</h4>
                                    <ul class="list-unstyled text-small">
                                        <li><a href="{{ SITEURL }}/armonizacion-contable/">Armonización Contable</a></li>
                                        <li><a href="{{ SITEURL }}/aviso-de-privacidad/">Aviso de Privacidad</a></li>
                                        <li><a href="https://forms.gle/8ui9uS5inoKdez9y7" target="_blank">Buzón de Sugerencias</a></li>
                                        <li><a href="{{ SITEURL }}/licencias/agpl/">Licencia de Software AGPL</a></li>
                                        <li><a href="{{ SITEURL }}/politicas-de-uso/terminos-de-uso-de-la-informacion/">Términos de Uso de la Información</a></li>
                                        <li><a href="{{ SITEURL }}/politicas-de-uso/terminos-de-uso-del-sitio-web/">Términos de Uso del Sitio Web</a></li>
                                        <li><a href="{{ SITEURL }}/transparencia/">Transparencia</a></li>
                                        <li><a href="{{ SITEURL }}/transparencia-tca/">Transparencia TCA</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logotipo PJECZ -->
    <div class="footer-light">
        <div class="container">
            <p class="text-center">
                <img class="img-fluid" src="{{ SITEURL }}/theme/images/poder-judicial-410x180.png" alt="PJECZ">
            </p>
            <p class="text-center">
                Blvd. Francisco Coss #945. Zona Centro. Saltillo, Coahuila de Zaragoza, México.<br>
                <a href="mailto:poderjudicialcoahuila@pjecz.gob.mx">poderjudicialcoahuila@pjecz.gob.mx</a><br>
                Teléfono 844 777 4498<br>
                &copy; 2022 Todos los derechos reservados. <a href="{{ SITEURL }}/politicas-de-uso/terminos-de-uso-del-sitio-web/">Términos y condiciones.</a>
            </p>
        </div>
    </div>
</footer>
