<!-- Navegacion Sesiones -->
<nav id="navegacion_secundaria">
    <div class="container">
        <a href="{{ SITEURL }}/category/pleno-del-tribunal-superior-de-justicia1.html"><span class="badge badge-pill badge-primary badge-pleno-del-tribunal-superior-de-justicia">Pleno del TSJ</span></a>
        <a href="{{ SITEURL }}/category/sala-civil-y-familiar1.html"><span class="badge badge-pill badge-primary badge-sala-civil-y-familiar">Sala Civil y Familiar</span></a>
        <a href="{{ SITEURL }}/category/sala-penal1.html"><span class="badge badge-pill badge-primary badge-sala-penal">Sala Penal</span></a>
        <a href="{{ SITEURL }}/category/sala-regional1.html"><span class="badge badge-pill badge-primary badge-sala-regional">Sala Regional</span></a>
        <a href="{{ SITEURL }}/category/tribunal-constitucional1.html"><span class="badge badge-pill badge-primary badge-tribunal-constitucional">Tribunal Constitucional</span></a>
        <a href="{{ SITEURL }}/sesiones/votos-disidentes/"><span class="badge badge-pill badge-primary badge-votos-disidentes">Votos Disidentes</span></a>
        <a href="{{ SITEURL }}/sesiones/votos-particulares/"><span class="badge badge-pill badge-primary badge-votos-particulares">Votos Particulares</span></a>
    </div>
</nav>
