<!-- Navegacion Menu -->
<nav id="navegacion_menu" class="navbar navbar-expand-lg navbar-dark py-3">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsNavegacion" aria-controls="navbarsNavegacion" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsNavegacion">
            <ul class="navbar-nav mr-auto">
                <!-- CONOCENOS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownConocenos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Conócenos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownConocenos">
                        <li><a class="dropdown-item" href="{{ SITEURL }}/conocenos/quienes-somos/">¿Quiénes Somos?</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/conocenos/estructura/">Estructura</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/observatorio-judicial/">Observatorio Judicial</a></li>
                    </ul>
                </li>
                <!-- CONSULTAS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownConsultas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Consultas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownConsultas">
                        <li><a class="dropdown-item" href="{{ SITEURL }}/category/acuerdos-del-consejo1.html">Acuerdos del Consejo</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/category/acuerdos-del-pleno1.html">Acuerdos del Pleno</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/consultas/audiencias/">Agenda de Audiencias</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/citas/">Citas</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/consultas/edictos/">Edictos en Línea</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/consultas/listas-de-acuerdos/">Listas de Acuerdos</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/consultas/poder-en-linea/">Poder en Línea</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/consultas/tesis-jurisprudencias/">Tesis y Jurisprudencias</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/tramites-y-servicios/">Trámites y Servicios</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/consultas/sentencias/">Versión Pública de Sentencias</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/consultas/">Más...</a></li>
                    </ul>
                </li>
                <!-- SALA DE PRENSA -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownSalaDePrensa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sala de Prensa
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSalaDePrensa">
                        <li><a class="dropdown-item" href="{{ SITEURL }}/boletines-judiciales/">Boletines Judiciales</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/calendario-de-labores/">Calendario de Labores</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/category/comunicados1.html">Comunicados</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/category/entrevistas1.html">Entrevistas</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/category/noticias1.html">Noticias</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/category/news-letters1.html">News Letters</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#" id="dropdownSesiones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sesiones</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownSesiones">
                                <li><a class="dropdown-item" href="{{ SITEURL }}/category/pleno-del-tribunal-superior-de-justicia1.html">Pleno del TSJ</a></li>
                                <li><a class="dropdown-item" href="{{ SITEURL }}/category/sala-civil-y-familiar1.html">Sala Civil y Familiar</a></li>
                                <li><a class="dropdown-item" href="{{ SITEURL }}/category/sala-penal1.html">Sala Penal</a></li>
                                <li><a class="dropdown-item" href="{{ SITEURL }}/category/sala-regional1.html">Sala Regional</a></li>
                                <li><a class="dropdown-item" href="{{ SITEURL }}/category/tribunal-constitucional1.html">Tribunal Constitucional</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- TRANSPARENCIA -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="dropdownTransparencia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transparencia</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownTransparencia">
                        <li><a class="dropdown-item" href="{{ SITEURL }}/transparencia/">Transparencia</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/transparencia-tca/">Transparencia TCA</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/transparencia-proactiva/">Transparencia Proactiva</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/armonizacion-contable/">Armonización Contable</a></li>
                    </ul>
                </li>
                <!-- JUSTICIA PARA TI -->
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="{{ SITEURL }}/justicia-para-ti/">Estudiantes</a>
                </li>
            </ul>
            <div class="navbar-form navbar-right" style="min-width: 300px;">
                <!-- Google busqueda programable -->
                <script async src="https://cse.google.com/cse.js?cx=175cec5e233bb0464"></script>
                <div class="gcse-search"></div>
            </div>
        </div>
    </div>
</nav>
