<!-- Bienvenida -->
<section class="jumbotron my-3 text-center">
  <div class="container">
    <h1>Consultas</h1>
    <p class="lead mb-1">En esta rama del sitio web podrás consultar, obtener datos abiertos y descargar documentos.</p>
    <p class="text-muted">Elija una de las opciones del menú o uno de los accesos directos.</p>
  </div>
</section>
<!-- Plataforma Web -->
<section class="my-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card my-2">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="https://plataforma-web.justiciadigital.gob.mx/" target="_blank">
              <img class="card-img-top" width="100%" height="160" src="{{ SITEURL }}/theme/images/imagen-plataforma-web.svg" alt="Plataforma Web" />
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-5">Plataforma Web</h4>
              <p class="card-text">
                Sistema del PJECZ que se usa administrar información interna y pública.
                Para entrar se necesita un cuenta autorizada de coahuila.gob.mx o pjecz.gob.mx.
              </p>
              <a href="https://plataforma-web.justiciadigital.gob.mx/" class="btn btn-sm btn-primary" target="_blank">Plataforma Web</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-2">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="https://datos.justiciadigital.gob.mx/docs" target="_blank">
              <img class="card-img-top" width="100%" height="160" src="{{ SITEURL }}/theme/images/imagen-api.svg" alt="Plataforma Web" />
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-5">API de Plataforma Web</h4>
              <p class="card-text">
                Terceros pueden consultar la información de Plataforma Web
                para desarrollar aplicaciones útiles a la sociedad.
                Para obtener una clave de acceso llene la solicitud.
              </p>
              <a href="#" class="btn btn-sm btn-primary" target="_blank">Solicitud de clave de acceso</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card my-2">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="my-4 text-center">
              <a href="#" target="_blank">
                <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Capacitación</title>
                  <rect width="100%" height="100%" fill="#AAA"></rect>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-5">Capacitación</h4>
              <p class="card-text">
                El Sistemas de Capacitaciones y Especialización (SICAP) es una plataforma de enseñanza en línea.
              </p>
              <a href="https://sicap.poderjudicialcoahuila.gob.mx/" class="btn btn-sm btn-primary" target="_blank">SICAP</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-2">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="my-4 text-center">
              <a href="https://github.com/PJECZ" target="_blank">
                <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Código Abierto</title>
                  <rect width="100%" height="100%" fill="#AAA"></rect>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-5">Código Abierto</h4>
              <p class="card-text">
                Somos una institución gubernamental que ha sido
                <a href="https://government.github.com/community/">reconocida por GitHub</a>
                por compartir software con licencias libres.</p>
              <a href="https://github.com/PJECZ" class="btn btn-sm btn-primary" target="_blank">PJECZ en GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Más Aplicaciones -->
<section class="my-3">
  <div class="card">
    <div class="card-header">
      <h4 class="display-5 text-center mb-0">Más Aplicaciones</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-2 text-center">
          <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#AAA"></rect>
          </svg>
          <h5 class="my-2">Citas</h5>
        </div>
        <div class="col-lg-2 text-center">
          <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#AAA"></rect>
          </svg>
          <h5 class="my-2">Citas: administrador</h5>
        </div>
        <div class="col-lg-2 text-center">
          <a href="https://pagos.justiciadigital.gob.mx/">
            <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#AAA"></rect>
            </svg>
            <h5 class="my-2">Pagos</h5>
          </a>
        </div>
        <div class="col-lg-2 text-center">
          <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#AAA"></rect>
          </svg>
          <h5 class="my-2">Pensiones Alimenticias</h5>
        </div>
        <div class="col-lg-2 text-center">
          <a href="fuentes-rss/">
            <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#AAA"></rect>
            </svg>
            <h5 class="my-2">Fuentes RSS</h5>
          </a>
        </div>
        <div class="col-lg-2 text-center">
          <svg class="bd-placeholder-img rounded-circle" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 80x80" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#AAA"></rect>
          </svg>
          <h5 class="my-2">Tres de Tres</h5>
        </div>
      </div>
    </div>
  </div>
</section>
